In [1]:
from functools import reduce
import pandas as pd
from pyspark.sql.functions import  *
from pyspark.sql import SparkSession

# establish spark connection
spark = (
    SparkSession.builder
    .master('local[*]')
    .getOrCreate()
)

### Case 1

Simple columns, one column per category

In [2]:
# Generate pandas dataframe
pdf = pd.DataFrame({
    'animal': ['cat', 'dog', 'chick'],
    'voice': ['meaow', 'bark-bark', 'cheep cheep'],
    
    # Data from farm 1
    'farm1_count': [1, 1, 12],
    
    # Data from farm 2
    'farm2_count': [1, 1, 22],
})

# Convert to spark:
df = spark.createDataFrame(pdf)
df.show()

+------+-----------+-----------+-----------+
|animal|      voice|farm1_count|farm2_count|
+------+-----------+-----------+-----------+
|   cat|      meaow|          1|          1|
|   dog|  bark-bark|          1|          1|
| chick|cheep cheep|         12|         22|
+------+-----------+-----------+-----------+

In [3]:
unpivot_expression = '''stack(2, 'farm1', farm1_count, 'farm2', farm2_count) as (farm, count)'''

(
    df
    .select('animal', 'voice', expr(unpivot_expression))
    .show()
)

+------+-----------+-----+-----+
|animal|      voice| farm|count|
+------+-----------+-----+-----+
|   cat|      meaow|farm1|    1|
|   cat|      meaow|farm2|    1|
|   dog|  bark-bark|farm1|    1|
|   dog|  bark-bark|farm2|    1|
| chick|cheep cheep|farm1|   12|
| chick|cheep cheep|farm2|   22|
+------+-----------+-----+-----+

### Case 2

Multiple columns per farm. Still hardcoded changes. We want to melt the table by farms. Getting columns for `count` and `leg_count`.

In [4]:
# Generate pandas dataframe
pdf = pd.DataFrame({
    'animal': ['cat', 'dog', 'chick'],
    'voice': ['meaow', 'bark-bark', 'cheep cheep'],
    
    # Data from farm 1
    'farm1_count': [1, 1, 12],
    'farm1_legs_count': [4, 4, 24],
    
    # Data from farm 2
    'farm2_count': [1, 1, 22],
    'farm2_legs_count': [4, 4, 44],
})

# Convert to spark:
df = spark.createDataFrame(pdf)
df.show()

+------+-----------+-----------+----------------+-----------+----------------+
|animal|      voice|farm1_count|farm1_legs_count|farm2_count|farm2_legs_count|
+------+-----------+-----------+----------------+-----------+----------------+
|   cat|      meaow|          1|               4|          1|               4|
|   dog|  bark-bark|          1|               4|          1|               4|
| chick|cheep cheep|         12|              24|         22|              44|
+------+-----------+-----------+----------------+-----------+----------------+

In [5]:
# Two new colums are created: "farm" and "data":
# * The farm column contains the farm labels: farm1 or farm2
# * The data column contains the struct with columns belonging to a given farm
unpivot_expression = '''stack(2, 'farm1', farm1, 'farm2', farm2) as (farm, data)'''

(
    df
    
    # Collecting the data for farm1 into a struct called farm1:
    .withColumn('farm1', struct(
        col('farm1_count').alias('count'), 
        col('farm1_legs_count').alias('legs_count'))
    )

    # Collecting the data for farm2 into a struct called farm2:
    .withColumn('farm2', struct(
        col('farm2_count').alias('count'), 
        col('farm2_legs_count').alias('legs_count'))
    )
    
    # Stack data:
    .select('animal', 'voice', expr(unpivot_expression))
    
    # Explode struct:
    .select('*', 'data.*')
    .drop('data')

    .show()
)

+------+-----------+-----+-----+----------+
|animal|      voice| farm|count|legs_count|
+------+-----------+-----+-----+----------+
|   cat|      meaow|farm1|    1|         4|
|   cat|      meaow|farm2|    1|         4|
|   dog|  bark-bark|farm1|    1|         4|
|   dog|  bark-bark|farm2|    1|         4|
| chick|cheep cheep|farm1|   12|        24|
| chick|cheep cheep|farm2|   22|        44|
+------+-----------+-----+-----+----------+

In the above example, the columns belonging to the same farm are pulled together into a struct. 
Then these n columns of structs are then melted into a single column.

Then the structs are unpacked.

### Case 3

3 farms are present in the dataset:

In [6]:
# Generate pandas dataframe
pdf = pd.DataFrame({
    'animal': ['cat', 'dog', 'chick'],
    'voice': ['meaow', 'bark-bark', 'cheep cheep'],
    
    # Data from farm 1
    'farm1_count': [1, 1, 12],
    'farm1_legs_count': [4, 4, 24],
    'farm1_has_feathers': [False, False, True],
    
    # Data from farm 2
    'farm2_count': [1, 1, 22],
    'farm2_legs_count': [4, 4, 44],
    'farm2_has_feathers': [False, False, True],
    
    # Data from farm 3
    'farm3_count': [2, 5, 2],
    'farm3_legs_count': [8, 20, 4],
    'farm3_has_feathers': [False, False, True],
})

# Convert to spark:
df = spark.createDataFrame(pdf)
df.show()

+------+-----------+-----------+----------------+------------------+-----------+----------------+------------------+-----------+----------------+------------------+
|animal|      voice|farm1_count|farm1_legs_count|farm1_has_feathers|farm2_count|farm2_legs_count|farm2_has_feathers|farm3_count|farm3_legs_count|farm3_has_feathers|
+------+-----------+-----------+----------------+------------------+-----------+----------------+------------------+-----------+----------------+------------------+
|   cat|      meaow|          1|               4|             false|          1|               4|             false|          2|               8|             false|
|   dog|  bark-bark|          1|               4|             false|          1|               4|             false|          5|              20|             false|
| chick|cheep cheep|         12|              24|              true|         22|              44|              true|          2|               4|              true|
+------+-----------+-----------+----------------+------------------+-----------+----------------+------------------+-----------+----------------+------------------+

In [7]:
farms = ['farm1', 'farm2', 'farm3'] # This can be inferred from schema
columns = ['count', 'legs_count', 'has_feathers'] # This can be inferred from schema

# Generating "unpivot" expression:
unpivot_expression = f'''stack({len(farms)}, {", ".join([f"'{x}', {x}" for x in farms])} ) as (farm, data)'''

# Generating expressions to create the full struct for each farm:
expressions = map(lambda farm: (farm, struct([col(f'{farm}_{x}').alias(x) for x in columns])), farms)

# Applying map on the dataframe:
res_df = reduce(lambda DF,value: DF.withColumn(*value) , expressions, df)

(
    res_df
    .select('animal', 'voice', expr(unpivot_expression))
    .select('*', 'data.*')
    .drop('data')
    .show()
)

+------+-----------+-----+-----+----------+------------+
|animal|      voice| farm|count|legs_count|has_feathers|
+------+-----------+-----+-----+----------+------------+
|   cat|      meaow|farm1|    1|         4|       false|
|   cat|      meaow|farm2|    1|         4|       false|
|   cat|      meaow|farm3|    2|         8|       false|
|   dog|  bark-bark|farm1|    1|         4|       false|
|   dog|  bark-bark|farm2|    1|         4|       false|
|   dog|  bark-bark|farm3|    5|        20|       false|
| chick|cheep cheep|farm1|   12|        24|        true|
| chick|cheep cheep|farm2|   22|        44|        true|
| chick|cheep cheep|farm3|    2|         4|        true|
+------+-----------+-----+-----+----------+------------+

In [14]:
res_df.show(1, vertical=True, truncate=False)

-RECORD 0---------------------------
 animal             | cat
 voice              | meaow
 farm1_count        | 1
 farm1_legs_count   | 4
 farm1_has_feathers | false
 farm2_count        | 1
 farm2_legs_count   | 4
 farm2_has_feathers | false
 farm3_count        | 2
 farm3_legs_count   | 8
 farm3_has_feathers | false
 farm1              | {1, 4, false}
 farm2              | {1, 4, false}
 farm3              | {2, 8, false}
only showing top 1 row

In [19]:
np.fliplr(np.rot90(betuk))[:-1]
# np.fliplr(betuk)

array([['L', 'H', 'D'],
       ['K', 'G', 'C'],
       ['J', 'F', 'B']], dtype='<U1')

In [16]:
df = spark.createDataFrame([{
    "gene": "EGFR",
    "species": "human",
    "role": "cancer"
},
{
    "gene": "MYO6",
    "species": "human",
    "role": "deafness"
},
{
    "gene": "ERBB3",
    "species": "human",
    "role": "cancer"
}]).persist()

df.show()

+-----+--------+-------+
| gene|    role|species|
+-----+--------+-------+
| EGFR|  cancer|  human|
| MYO6|deafness|  human|
|ERBB3|  cancer|  human|
+-----+--------+-------+

In [32]:
import requests


def get_id(symbol):
    try:
        response = requests.get(f'https://rest.ensembl.org/lookup/symbol/homo_sapiens/{symbol}?content-type=application/json')
        data = response.json()
        return data['id']
    except:
        return None


get_id('MYO6')

'ENSG00000196586'

In [39]:
def get_id(symbol):
    try:
        response = requests.get(f'https://rest.ensembl.org/lookup/symbol/homo_sapiens/{symbol}?content-type=application/json')
        data = response.json()
        return data['id']
    except:
        return None


(
    spark.createDataFrame([{
        "gene": "EGFR",
        "species": "human",
        "role": "cancer"
    },
    {
        "gene": "MYO6",
        "species": "human",
        "role": "deafness"
    },
    {
        "gene": "ERBB3",
        "species": "human",
        "role": "cancer"
    }])
    .toPandas()
    .assign(geneId= lambda x: x.gene.apply(get_id))
)

    gene      role species           geneId
0   EGFR    cancer   human  ENSG00000146648
1   MYO6  deafness   human  ENSG00000196586
2  ERBB3    cancer   human  ENSG00000065361

In [40]:
def executeRestApi(verb, url, headers, body):
    #
    headers = {
    'content-type': "application/json"
    }
    res = None
    # Make API request, get response object back, create dataframe from above schema.
    try:
        if verb == "get":
        res = requests.get(url, data=body, headers=headers)
        else:
        res = requests.post(url, data=body, headers=headers)
    except Exception as e:
        return e
    if res != None and res.status_code == 200:
        return json.loads(res.text)
    return None

IndentationError: expected an indented block (<ipython-input-40-eed49d14567e>, line 10)

In [41]:
spark.createDataFrame([{
        "gene": "EGFR",
        "species": "human",
        "role": "cancer"
    },
    {
        "gene": "MYO6",
        "species": "human",
        "role": "deafness"
    },
    {
        "gene": "ERBB3",
        "species": "human",
        "role": "cancer"
    }]).toPandas()

    gene      role species
0   EGFR    cancer   human
1   MYO6  deafness   human
2  ERBB3    cancer   human

In [42]:
import requests

def get_pdb(code: str)-> str:
    URL = f'https://www.ebi.ac.uk/pdbe/api/pdb/compound/in_pdb/{code}'
    response = requests.get(URL)
    try:
        data = response.json()
        return data[code]
    except:
        return None
    
    
get_pdb('IAN')

['3rar']

In [46]:
(
    spark.createDataFrame([{"id": "IAN"}, {"id": "AIN"}])
    .toPandas()
    .assign(pdb = lambda x: x['id'].apply(get_pdb))
    .explode('pdb')
)

    id   pdb
0  IAN  3rar
1  AIN  1oxr
1  AIN  1tgm
1  AIN  2qqt
1  AIN  3gcl
1  AIN  3iaz
1  AIN  4nsb
1  AIN  6mqf